doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        title FSD_Slider
    body
        h1 Слайдеры
        .sliders_wrapper
            #slider1
            #slider2
            #slider3